@CHARSET "UTF-8";
/*****************************
 * Report styles for the admin module
 *****************************/

/* report template syntax highlighting styles */
.editor {
  position: relative;
  max-height: 300px;
  padding: 0;
  border: none;
  overflow: hidden;
  max-width: 100%;
}

.editor .highlighted-output {
  box-sizing: border-box;
  max-height: 300px;
  /* width: 90%; */
  padding: 0.5em;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: monospace;
  white-space: pre;
  word-wrap: break-word;
  z-index: 0;
}