@CHARSET "UTF-8";

/* Customisations to the Admin Faces theme */

#layout-menu_menu {
	z-index: 9997 !important;
}

#layout-menu_menu span.ui-menuitem-text {
	margin-left: 2px;
}

.navbar-nav>.user-menu>.dropdown-menu {
	width: 240px;
}

.navbar-nav>.user-menu>.dropdown-menu li a {
	border: 1px solid transparent;
	display: block;
	text-align: left;
	text-decoration: none;
	padding: 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/* These three selectors are a bit broad I think.
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
}
*/
@media (max-width: 767px) {
	.skin-blue .main-header .navbar .dropdown-menu li a {
	    color: inherit;
	}
}

