<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">
	<!-- List the static URL prefixes of the application (these URL prefixes will not be logged or checked for invalid sessions) -->
	<context-param>
		<param-name>staticURLPrefixes</param-name>
		<param-value>
			<![CDATA[
				/jakarta.faces.resource/
				/omnifaces.push/
				/resources
				/app/assets/
				/app/canvaskit/
				/app/icons/
				/pages/css/
				/ckeditor/
				/codemirror/
				/croppie/
				/fontawesome-4.7.0/
				/fontawesome-6.5.1/
				/images/
				/isomorphic130/
				/leaflet/
				/primevue-3.12.6/
				/semantic24/
				/skyve/
				/wicket/
			]]>
		</param-value>
	</context-param>

	<!-- Needs to be first to set up Skyve configuration state for Spring to use -->
	<listener>
		<listener-class>org.skyve.impl.web.SkyveContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.skyve.impl.web.SkyveSessionListener</listener-class>
	</listener>

	<!-- Spring Security Configuration -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>org.skyve.impl.web.spring</param-value>
	</context-param>
	<filter>                                                                                  
		<filter-name>springSecurityFilterChain</filter-name>                                  
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>     
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>                                                                                
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Force UTF-8 encoding on everything -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.skyve.impl.web.filter.UTF8CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Ensure logging and stats on everything (the filter determines what not to log) -->
	<filter>
		<filter-name>RequestLoggingAndStatisticsFilter</filter-name>
		<filter-class>org.skyve.impl.web.filter.RequestLoggingAndStatisticsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestLoggingAndStatisticsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- FACES PARAMS -->
	<context-param>
        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
        <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
	<context-param>
		<param-name>jakarta.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
		<param-value>/WEB-INF/resources</param-value>
	</context-param>
	<context-param>
        <param-name>jakarta.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
	<!-- sam, redmond, smoothness, bootstrap -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{request.getAttribute('skyveUxUi') == null ? 'saga' : request.getAttribute('skyveUxUi').getPfTheme()}</param-value>
	</context-param>
	<!--Skyve runs its own endpoint extension so it can get hold of the WebSocket sessions -->
	<context-param>
		<param-name>org.omnifaces.SOCKET_ENDPOINT_ENABLED</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.skyve.web.faces.PRIMEFLEX</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>

    <filter>
        <display-name>SkyveFacesFilter</display-name>
        <filter-name>SkyveFacesFilter</filter-name>
        <filter-class>org.skyve.impl.web.faces.SkyveFacesFilter</filter-class>
        <init-param>
        	<param-name>forward</param-name>
        	<param-value>/home.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>error</param-name>
        	<param-value>/pages/error.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>expired</param-name>
        	<param-value>/pages/expired.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>unsecured</param-name>
        	<param-value>
        		<![CDATA[
					/jakarta.faces.resource/
					/device.xhtml
					/contentUpload.xhtml
					/fileUpload.xhtml
					/imageUpload.xhtml
        		]]>
        	</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SkyveFacesFilter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
    </filter-mapping>
    <!-- JSPs can server-side forward to faces pages -->
    <filter-mapping>
        <filter-name>SkyveFacesFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
    </filter-mapping>

	<!-- Replace faces servlet Cache-control: no-cache with Cache-Control: no-cache,no-store,must-revalidate -->
	<filter>
		<filter-name>FacesNoCacheFilter</filter-name>
		<filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FacesNoCacheFilter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>
	
	<filter>
		<filter-name>NeverExpiresFilter</filter-name>
		<filter-class>org.skyve.impl.web.filter.ResponseHeaderFilter</filter-class>
		<!-- Expires in 1 year -->
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=31536000,public</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>cache</param-value>
		</init-param>
		<!-- Expires in 1 year -->
		<init-param>
			<param-name>Expires</param-name>
			<param-value>31536000000</param-value>
		</init-param>
	</filter>
	<!-- Javascript -->
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<!-- Fonts -->
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.ttf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.otf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.woff</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.woff2</url-pattern>
	</filter-mapping>
	<!-- WASM -->
	<filter-mapping>
		<filter-name>NeverExpiresFilter</filter-name>
		<url-pattern>*.wasm</url-pattern>
	</filter-mapping>

	<!-- Firefox requires public to cache resources to disk when using SSL -->
	<filter>
		<filter-name>PublicCacheControlFilter</filter-name>
		<filter-class>org.skyve.impl.web.filter.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>public</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PublicCacheControlFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PublicCacheControlFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PublicCacheControlFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PublicCacheControlFilter</filter-name>
		<url-pattern>*.jpeg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PublicCacheControlFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>

	<!-- CSRF Header to stop click jacking or frame busting -->
	<filter>
		<filter-name>SecurityHeadersFilter</filter-name>
		<filter-class>org.skyve.impl.web.filter.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Content-Security-Policy</param-name>
			<param-value>default-src 'self'; frame-src 'self' *.google.com *.cloudflare.com; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.google.com *.googleapis.com *.gstatic.com https://unpkg.com *.cloudflare.com; style-src 'self' 'unsafe-inline' *.googleapis.com *.gstatic.com https://unpkg.com; font-src 'self' data: *.googleapis.com *.gstatic.com; img-src 'self' data: blob: *.openstreetmap.org *.googleapis.com *.gstatic.com; form-action 'self'; connect-src 'self' ws: wss: *.gstatic.com https://unpkg.com</param-value>
		</init-param>
		<init-param>
			<param-name>X-Frame-Options</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
		<init-param>
			<param-name>Referrer-Policy</param-name>
			<param-value>same-origin</param-value>
		</init-param>
		<init-param>
			<param-name>X-Content-Type-Options</param-name>
			<param-value>nosniff</param-value>
		</init-param>
		<init-param>
			<param-name>X-XSS-Protection</param-name>
			<param-value>1; mode=block</param-value>
		</init-param>
		<!-- HSTS Header for protection from man in the middle on user agent client networks -->
		<!-- This is switched in foundry projects in nginx -->
<!--
		<init-param>
			<param-name>Strict-Transport-Security</param-name>
			<param-value>max-age=31536000; includeSubDomains</param-value>
		</init-param>
-->
	</filter>
	<filter-mapping>
		<filter-name>SecurityHeadersFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
    <filter>
        <display-name>RestFilter</display-name>
        <filter-name>RestFilter</filter-name>
        <filter-class>org.skyve.impl.web.filter.rest.ForbiddenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <!-- Uncomment to enable Dev Login Filter for doing skyve-vue development -->
	<!--
	<filter>                                                                                  
		<filter-name>DevLoginFilter</filter-name>                                  
		<filter-class>org.skyve.impl.web.filter.DevLoginFilter</filter-class>     
		<init-param>
			<param-name>customer</param-name>
			<param-value>bizhub</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>admin</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DevLoginFilter</filter-name>
		<servlet-name>SmartClientListServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DevLoginFilter</filter-name>
		<servlet-name>SmartClientSnapServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DevLoginFilter</filter-name>
		<servlet-name>SmartClientTagServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DevLoginFilter</filter-name>
		<url-pattern>/export</url-pattern>
	</filter-mapping>
	-->

    <!-- API documentation servlet -->
	<!--
	<servlet>
		<servlet-name>DocsServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.DocsServlet</servlet-class>
		<init-param>
			<param-name>docsPath</param-name>
			<param-value>/swagger/swagger.xhtml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocsServlet</servlet-name>
		<url-pattern>/docs</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- Uncomment the following to allow access to the H2 web console. -->
	<!--
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/h2/*</url-pattern>
	</servlet-mapping>
	-->

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loggedOut</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DynamicImageServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.DynamicImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DynamicImageServlet</servlet-name>
		<url-pattern>/dynamic.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DynamicImageServlet</servlet-name>
		<url-pattern>/dynamic.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DynamicImageServlet</servlet-name>
		<url-pattern>/dynamic.jpeg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BizportExportServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.BizportExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BizportExportServlet</servlet-name>
		<url-pattern>/bizexport.xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BizportExportServlet</servlet-name>
		<url-pattern>/bizexport.xlsx</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.jasperreports.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerResourceServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.CustomerResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerResourceServlet</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<!-- for smart client widgets which always look in the images directory -->
	<servlet-mapping>
		<servlet-name>CustomerResourceServlet</servlet-name>
		<url-pattern>/images/resources</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerResourceServlet</servlet-name>
		<url-pattern>/content</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientListServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientListServlet</servlet-name>
		<url-pattern>/smartlist</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientSnapServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientSnapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientSnapServlet</servlet-name>
		<url-pattern>/smartsnap</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientTagServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientTagServlet</servlet-name>
		<url-pattern>/smarttag</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientCompleteServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientCompleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientCompleteServlet</servlet-name>
		<url-pattern>/smartcomplete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientTextSearchServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientTextSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientTextSearchServlet</servlet-name>
		<url-pattern>/smartsearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientEditServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientEditServlet</servlet-name>
		<url-pattern>/smartedit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartClientGeneratorServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.smartclient.SmartClientGeneratorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClientGeneratorServlet</servlet-name>
		<url-pattern>/smartgen</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MetaDataServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.MetaDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MetaDataServlet</servlet-name>
		<url-pattern>/meta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChartServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.ChartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartServlet</servlet-name>
		<url-pattern>/chart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MapServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.MapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapServlet</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HealthServlet</servlet-name>
		<servlet-class>org.skyve.impl.web.service.HealthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HealthServlet</servlet-name>
		<url-pattern>/health</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/font-sfnt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot?#iefix</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exosemibold</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exobolditalic</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exomedium</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exoregular</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#fontawesomeregular</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>

	<error-page>
		<exception-type>org.springframework.security.web.authentication.rememberme.CookieTheftException</exception-type>
		<location>/login</location>
	</error-page>
	<error-page>
		<exception-type>org.skyve.domain.messages.SessionEndedException</exception-type>
		<location>/pages/expired.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.skyve.domain.messages.ConversationEndedException</exception-type>
		<location>/pages/expired.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/error.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
		<!-- 
			<cookie-config/> is set in SkyveContextListener based on Util.isSecureUrl().
			The SameSite attribute is set within undertow-handlers.conf as it was impossible through spring security or Filters.
		-->
	</session-config>
</web-app>
