@CHARSET "UTF-8";

#footer-menu .footer-box span, .layout-footer .logo-container-outer {
	padding-top: 5px;
    text-align: center !important;
}

#topbar-appname {    
    float: left;
    top: 0;
    height: 60px;
    padding: 20px 5px;
}
#topbar-appname img {
	position: absolute;
	max-height: 36px;
	top: 12px;
}
#topbar-appname .app-name {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	left: 120px;
	position: absolute;
	vertical-align: middle;
}

/* data tables */
.ui-datatable tbody td {
	text-align: center;
}
.ui-datatable thead th {
	padding: 0px 1rem !important
}

@media (max-width: 1024px) {
	#topbar-appname .app-name {
		font-size: 16px;
		left: 120px;
	}
	
	.layout-wrapper .layout-topbar .logo-container {
		display: none;
	}
}

@media (min-width: 641px) {
	.topbar-title {
		font-size: 16px;
		font-weight: bold;
		vertical-align: middle;
		color: white;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: absolute;
		top: 30px;
		left: 290px;
		width: 50%;
	}

}
@media (max-width: 640px) {
	.topbar-title {
		display: none;
	}
}

.topbar-menu li a span {
	display: inline !important;
} 

@media(max-width: 1024px) {
	.topbar-menu-tooltip {
		display: none !important;
	}	
}

/* menu width customisations */
.layout-wrapper .layout-sidebar {
	width: 250px;
}
.layout-wrapper.layout-rtl .layout-main {
    margin-right: 250px;
}

/* reduce menu item left padding */
.layout-wrapper .layout-sidebar .layout-menu li ul li a {
    padding-left: 20px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li ul li a {
    padding-left: 35px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li ul ul li a {
    padding-left: 50px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li ul ul ul li a {
    padding-left: 65px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li ul ul ul ul li a {
    padding-left: 80px;
}

@media (min-width: 1025px) {
	.layout-wrapper.layout-menu-static .layout-main {
		margin-left: 250px;
	}
	.layout-wrapper.layout-menu-static.layout-menu-static-inactive .layout-sidebar {
        left: -250px;
    }
    .layout-wrapper.layout-menu-overlay .layout-sidebar {
        left: -250px;
    }
    
    .layout-wrapper.layout-rtl.layout-menu-static .layout-main {
        margin-right: 250px;
    }
    .layout-wrapper.layout-rtl.layout-menu-static.layout-menu-static-inactive .layout-sidebar {
        right: -250px;
    }
       .layout-wrapper.layout-rtl.layout-menu-overlay .layout-sidebar {
        right: -250px;
    }
}

@media (max-width: 1024px) {
    .layout-wrapper.layout-rtl .layout-sidebar {
        right: -250px;
    }
}
/* ./ menu width customisations */
