html,body,input,select,textArea,button,a,fieldset,legend,pre,table {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #707070
}

.x-box-tl {
	background: transparent url(../images/box/corners.gif) no-repeat 0 0;
	zoom: 1
}

.x-box-tc {
	height: 8px;
	background: transparent url(../images/box/tb.gif) repeat-x 0 0;
	overflow: hidden
}

.x-box-tr {
	background: transparent url(../images/box/corners.gif) no-repeat
		right-8px
}

.x-box-ml {
	background: transparent url(../images/box/l.gif) repeat-y 0;
	padding-left: 4px;
	overflow: hidden;
	zoom: 1
}

.x-box-mc {
	background: #eee url(../images/box/tb.gif) repeat-x 0 -16px;
	padding: 4px 10px;
	font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial",
		sans-serif;
	color: #393939;
	font-size: 12px
}

.x-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 4px 0;
	zoom: 1
}

.x-box-mr {
	background: transparent url(../images/box/r.gif) repeat-y right;
	padding-right: 4px;
	overflow: hidden
}

.x-box-bl {
	background: transparent url(../images/box/corners.gif) no-repeat 0 -16px;
	zoom: 1
}

.x-box-bc {
	background: transparent url(../images/box/tb.gif) repeat-x 0 -8px;
	height: 8px;
	overflow: hidden
}

.x-box-br {
	background: transparent url(../images/box/corners.gif) no-repeat
		right-24px
}

.x-box-tl,.x-box-bl {
	padding-left: 8px;
	overflow: hidden
}

.x-box-tr,.x-box-br {
	padding-right: 8px;
	overflow: hidden
}

.bizhubSelectItemText,.bizhubSelectItemTextError,.bizhubSelectItemTextDisabled,.bizhubSelectItemTextFocused
	{
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: black
}

.bizhubSelectItemText,.bizhubSelectItemTextError,.bizhubSelectItemTextFocused,.bizhubSelectItemTextDisabled,.bizhubSelectItemTextHint
	{
	padding: 2px;
	border: 1px solid #aaacb2;
	background: #FFF;
	color: black
}

.bizhubSelectItemTextDisabled {
	color: #AAA;
	background-color: #FFF;
	border: 1px solid #A6ABB4
}

.bizhubSelectItemTextHint {
	color: #204268
}

.bizhubSelectItemTextFocused {
	color: black;
	-moz-outline-offset: -1;
	border: 1px solid #5678ac
}

.bizhubSelectItemTextFocused {
	color: black;
	-moz-outline-offset: -1;
	border-top: 1px solid #5678ac;
	border-left: 1px solid #bccde6;
	border-right: 1px solid #afc6e2;
	border-bottom: 1px solid #c0d7ec
}

.bizhubSelectItemText,.bizhubSelectItemTextError,.bizhubSelectItemTextFocused,.bizhubSelectItemTextDisabled
	{
	border-right: 0 none
}

.bizhubPreviousValuesText,.bizhubPreviousValuesTextError,.bizhubPreviousValuesTextDisabled,.bizhubPreviousValuesTextFocused
	{
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: black
}

.bizhubPreviousValuesText,.bizhubPreviousValuesTextError,.bizhubPreviousValuesTextFocused,.bizhubPreviousValuesTextDisabled,.bizhubPreviousValuesTextHint
	{
	padding: 2px;
	border: 1px solid #aaacb2;
	background: #FFF;
	color: black
}

.bizhubPreviousValuesTextDisabled {
	color: #AAA;
	background-color: #FFF;
	border: 1px solid #A6ABB4
}

.bizhubPreviousValuesTextHint {
	color: #204268
}

.bizhubPreviousValuesTextFocused {
	color: black;
	-moz-outline-offset: -1;
	border: 1px solid #5678ac
}

.bizhubPreviousValuesTextFocused {
	color: black;
	-moz-outline-offset: -1;
	border-top: 1px solid #5678ac;
	border-left: 1px solid #bccde6;
	border-right: 1px solid #afc6e2;
	border-bottom: 1px solid #c0d7ec
}

.bizhubTextUpper {
	text-transform: uppercase
}

.bizhubTextLower {
	text-transform: lowercase
}

.bizhubTextCapital {
	text-transform: capitalize
}

.bizhubRoundedBorder {
	border-radius: 5px;
	box-shadow: 3px 3px 2px #dddddd
}

.bizhubBorderLabel {
	color: #888888;
	background: transparent url(../images/background.png);
	font-weight: bold
}

table.logo {
	cellpadding: 0;
	cellspacing: 0;
	vertical-align: top
}

body {
	background-color: #F9F9F9;
	margin: 2px;
	overflow: hidden
}

strong {
	font-size: 16px;
	font-weight: bold;
	color: steelblue;
	padding: 5px;
	margin: 3px
}

.titleBar {
	font-size: 16px;
	font-weight: bold;
	color: #eeeeee;
	padding: 5px;
	margin: 3px
}

.dataGridTitle {
	font-size: 12px;
	font-weight: bold;
	color: steelblue;
	padding: 5px;
	margin: 3px
}

a {
	text-decoration: underline
}

a.buttonlink {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold
}

.dhtmlPageButton img {
	opacity: 1.0;
	filter: alpha(opacity = 100)
}

.dhtmlPageButton:hover img {
	border: 0;
	opacity: 1.0;
	filter: alpha(opacity = 100)
}

.dhtmlPageButton:hover {
	color: red
}

.googleMapDivParent>div {
	height: 100%;
	width: 100%
}

.loginTable {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	background: white;
	border-radius: 5px
}

.buttonDiv {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	border-radius: 5px;
	width: 100%;
	height: 32px;
	background: steelblue;
	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 18;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 10px
}

.buttonDiv a {
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 18;
	color: white;
	text-decoration: none
}

.wildcatDocumentLink a {
	color: steelblue;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
	display: block;
}

.wildcatDocumentLink img {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.wildcatDocumentLink:hover img {
	border: 0;
	opacity: 1.0;
	filter: alpha(opacity = 100);
}


input[type=submit] {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	border-radius: 5px;
	width: 100%;
	height: 32px;
	background: steelblue;
	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal
}