html, body, input, select, textArea, button, a, fieldset, legend, pre, table {
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #707070;
}


/* SmartClient extra bizhub styles */

.bizhubTextUpper {
	text-transform:uppercase;
}

.bizhubTextLower {
	text-transform:lowercase;
}

.bizhubTextCapital {
	text-transform:capitalize;
}

.bizhubRoundedBorder {
	border-radius: 5px;
	box-shadow: 3px 3px 2px #dddddd;
}

.bizhubBorderLabel {
	color: #888888;
	background: transparent url(../images/background.png);
	font-weight: bold;
}

.bizhubFontIcon {
	font-size: 14px;
	width: 16px !important;
}

/*
**************************************
FORM styles
**************************************
*/

/*
    Used for the BizHub logo image on the top left.
*/
td > img[name$="main"] {
	max-width: 280px; 
	height: auto;
}

table.logo {
    cellpadding: 0;
    cellspacing: 0;
    vertical-align: top;
}

body {
    background-color: #F9F9F9;
    margin: 2px;
    overflow: hidden;
}

/*
	Text search highlight style.
*/
.highlight {
    font-size: 16px;
    font-weight: bold;
    color: steelblue;
    padding: 5px;
    margin: 3px;
}

/*
    Page and Table Headings.
*/
a {
    text-decoration: underline;
}

a:hover {
}

/*
    Logout Link
*/
a.buttonlink {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

/*
    Image Button.
*/
.dhtmlPageButton i {
	color: #BEC4C9;
	opacity: 0.9;
	filter: alpha(opacity = 90);
	padding: 0 2px;
}
.dhtmlPageButton i:hover {
	color: #F1F7FC; 
	opacity: 1.0;
	filter: alpha(opacity = 100);
}
/* legacy image button styles */
.dhtmlPageButton img {
    border: 0px;
	opacity: 0.9;
	filter: alpha(opacity = 90)
}
.dhtmlPageButton:hover img {
	border: 0px;
	opacity: 1.0;
	filter: alpha(opacity = 100)
}

/* irrelevant definition to overcome IE bug */
.dhtmlPageButton:hover {
    color: red;
}

/* google map style for smartclient to ensure 100% on all divs up to body */
.googleMapDivParent > div {
	height: 100%;
	width: 100%;
}

.titleBar {
	font-size: 16px;
	font-weight: bold;
	color: #eeeeee;
	padding: 5px;
	padding-left: 0px;
	margin: 3px;
	margin-left: 0px;
}

.loginTable {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	background: white;
	border-radius: 5px;
	padding: 10px 0 10px 5px;
}
.loginTable input, label {
	width: 100%;
}

.buttonDiv {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	border-radius: 5px;
	width: 100%;
	height: 32px;
	background: steelblue;
	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 10px
}

.buttonDiv a {
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: white;
	text-decoration: none
}

.skyveDocumentLink a {
	color: steelblue;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
	display: block;
}

.skyveDocumentLink img {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.skyveDocumentLink:hover img {
	border: 0;
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.skyveEnvBanner {
	background: red;
	font-size: 8px;
	color: white;
	position: fixed;
	text-align: center;
	left: 0px;
	z-index: 2147483646;
	width: 100%;
	height: 8px;
	line-height: 8px;
}
.skyveTopEnvBanner {
	top: 0px;
}
.skyveBottomEnvBanner {
	bottom: 0px;
}

input[type=submit] {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 2px #dddddd;
	border-radius: 5px;
	width: 100%;
	height: 32px;
	background: steelblue;
	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal
}

/* PrimeFaces style overrides */
.ui-growl {
	z-index: 2147483647 !important;
}

/* SmartClient style overrides */
.textItemDisabled, .selectItemTextDisabled {
    color: #898989 !important;
}
