body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}
/* Ensure that there is a little margin on stacked buttons in wrapped toolbars */
.ui-toolbar * {
	margin-bottom: 1px !important;
}

/* skyve alignment styles */
.left {
	text-align: left;
}
span.left {
	display: block;
}
.center {
	text-align: center;
}
span.left {
	display: block;
}
.right {
	text-align: right;
}
span.right {
	display: block;
}

/* popup wheel of death style */
#busy {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background-color: #f3f3f3;
	z-index: 10000;
	border: solid 2px;
	border-radius: 10px;
	border-color: #999999;
	text-align: center;
	opacity:0.5;
}
