body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}
/* to remove borders from panel grids */
.ui-panelgrid .ui-widget-content, .ui-panelgrid td {
	border-width: 0px !important;
	border-style: none !important;
	padding: 2px 8px !important;
	text-align: left !important;
}

/* to reinstate borders on data tables removed by panel grid styling above */
.ui-datatable td {
	border-width: 1px !important;
	border-style: solid !important;
	padding: 4px 10px !important;
	text-align: left !important;
}
/* to reinstate borders on tab panels removed by panel grid syling above */
.ui-tabs .ui-tabs-panel {
	border-width: 1px !important;
	border-style: solid !important;
}
.ui-message-icon-only {
	display: inline-block !important;
	vertical-align: middle !important;
}
.ui-outputlabel {
	vertical-align: middle !important;
}
/* ensure inner input element of autocompletes have a width of 100% so they can be styled by the outer div */
.ui-autocomplete-input {
	width: 100% !important;
}
/* popup wheel of death style */
#busy {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background-color: #f3f3f3;
	z-index: 10000;
	border: solid 2px;
	border-radius: 10px;
	border-color: #999999;
	text-align: center;
	opacity:0.5;
}
