/target/
/bin/
/deployments/
/src/main/webapp/WEB-INF/resources/layout/
/src/main/webapp/WEB-INF/resources/ecuador-layout/
/src/main/webapp/WEB-INF/resources/diamond-layout/
src/main/webapp/WEB-INF/lib/*-theme*.jar
